<!DOCTYPE html>
<html>
<head>
  <title>운전원 정보 입력</title>
</head>
<body>
  <form action="driverform" method="POST">
    <label for="driver_name">운전원명:</label>
    <input type="text" id="driver_name" name="driver_name" required><br>

    <label for="phone_number">전화번호:</label>
    <input type="text" id="phone_number" name="phone_number" required><br>

    <label for="car_number">차량번호:</label>
    <input type="text" id="car_number" name="car_number" required><br>

    <input type="submit" value="제출">
  </form>
</body>
</html>
