<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./driverCheck.css">
    <title>Document</title>
</head>
<body>
    <h1>{{ driver_name }} 기사님 안녕하세요</h1>
    <h1>이름 : {{ driver_name }}</h1>
    <h1>전화번호 : {{ phone_number }} </h1>
    <h1>차량번호 : {{ car_number }} </h1>
    <form method="POST" action="driverCheckAction">
      <button type="submit" name="btn_value" value="yes" class="btn yes">확인하기</button>
      <button type="submit" name="btn_value" value="no" class="btn no">다시작성하기</button>
    </form>
</body>
</html>
